body{
    margin:0px;
}
main{
   
   margin-left: 20px;
   margin-right: 20px;

}



/* this is for the navigation bar */

.navbar ul{
    list-style-type: none;
    background-color: rgb(129, 128, 128);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 30px;
}
.navbar li{
    float:left;
}

.navbar a{
    color: white ;
    text-decoration:none;
    padding:20px;
    display:block;
    text-align: center;
    font-weight: bold;
    font-size:large;
}
.navbar a:hover{
    background-color: rgb(98, 97, 97);
    border-radius: 20px;
    
}

/* this is for the topbar */

.topbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 204, 255);
    color: white ;
    text-decoration:none;
    padding:20px;
    text-align: center;
    font-weight: bold;
    font-size:x-large; 
}
/* home page introduction */
.introduction{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2em;
}
.description{
    flex-grow:1;
    padding-left: 10px;
}

/* profile section */
.profile{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(182, 217, 248);
    box-shadow: 15px 10px 6px rgb(85, 126, 249);
    flex-shrink: 0;
    font-size: 1.4rem;

}
.profile img{
    border-radius: 50%;
    width:500px;
    height:500px;
}
/* home page introduction part */
.description{
    background-color: rgb(216, 216, 213);
    border-radius: 10px;  
    font-size: 1.8rem;  
    color: rgb(2, 69, 162);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 650px;
}

/* about me page */
.about-me p{
    text-align: justify;
    font-size: 1.6rem;
    color: rgb(2, 69, 162);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me{
    background-color: rgb(191, 248, 248);
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

/* contact page */
.contact{
    background-color: rgb(248, 248, 248);
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    gap: 1.6em;
}
.soc_images img{
    width: 75px;
    height: 75px;
}
.soc_images{
    display: flex;
    gap: 1em;
}

.form{
    background-color: rgb(104, 181, 248);
    border-radius: 10px;
    padding-bottom: 20px;
    width:70%;
}
.form h1{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form input{
    background-color: white;
    width:70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}
.form textarea{
    background-color: white;
    width: 70%; 
    margin-left: 12%;
    font-size: 20px; 
    padding: 16px 16px; 
    border-radius: 10px; 
    border-color: black; 
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form input:focus-within{
    outline: none; 
    border-color: #0f56fa;
    border-width: 3px;

}
.form textarea:focus-within{
    outline: none; 
    border-color: #0f56fa;
    border-width: 3px;
}
.form button{
    background-color: rgb(41, 78, 178);
    color: white;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}
.form button:hover{
    background-color: rgb(3, 43, 144);
    opacity: 90%;
    cursor: pointer;
}

.socials{
    font-size: 1.4em;
}
